02 - Python Intermediário/Aulas/01 - Programação Orientada a Objetos/modelos/__pycache__/
02 - Python Intermediário/Aulas/04 - Ambientes Virtuais/venv
02 - Python Intermediário/Aulas/05 - Requisições, JSON e arquivos/venv
02 - Python Intermediário/Aulas/06 - FastAPI/venv